langchain>=0.2.0
langchain-community>=0.2.0
langchain-core>=0.2.0
langchain-experimental>=0.0.60
langchain-openai>=0.1.0
langchain-google-genai>=1.0.0
google-genai
langchain-cohere>=0.1.0
langchain-text-splitters>=0.2.0
faiss-cpu
chromadb
langchain-chroma
PyMuPDF
python-dotenv
pydantic
openai
rank-bm25
numpy
pandas
matplotlib
networkx
nltk
nest-asyncio
tqdm
nbformat
pytest
scikit-learn
sentence-transformers
spacy
llama-index
fastapi
uvicorn
python-multipart

